In [2]:
import pandas as pd

criminalPlaceTop10 = pd.read_csv('./data/criminalPlaceTop10.csv')
criminalPlaceTop10

,범죄중분류,노상,아파트,사무실,단독주택,유흥업소,상점,주차장,숙박업소 및 목욕탕,편의점,슈퍼마켓
0,교통범죄,300530,105,74,38,14,36,769,7,4,1
1,절도,46374,16482,2282,8535,7116,15031,9891,2666,6143,9920
2,사기,44667,10071,28142,12618,11025,4370,1326,1153,2389,354
3,폭행,41284,23656,2946,12716,9270,1506,2850,1903,1365,526

In [3]:
import matplotlib.pyplot as plt

bar_width = 0.35

alpha = 0.5



p1 = plt.bar(index, tips_sum_by_day_male, bar_width, color='b', alpha=alpha, label='Male')

p2 = plt.bar(index + bar_width, tips_sum_by_day_female, 

             bar_width, 

             color='r', 

             alpha=alpha,

             label='Female')



plt.title('Dodged Bar Chart of Sum of Tips by Day & Sex', fontsize=20)

plt.ylabel('Sum of Tips', fontsize=18)

plt.xlabel('Day', fontsize=18)

plt.xticks(index, label, fontsize=15)

plt.legend((p1[0], p2[0]), ('Male', 'Female'), fontsize=15)

plt.show()

NameError: name 'index' is not defined